<%- include('header'); -%>

        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->

        <!-- Navbar Start -->
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="#">Main</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button><!--end button-->

                <div class="collapse navbar-collapse navigation" id="navbarCollapse">
                    <ul id="navbar-navlist" class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#schools">Schools</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#skill">Skill</a>
                        </li><!--end nav item-->
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li><!--end nav item-->
                    </ul>

                    <ul class="top-right text-end list-unstyled list-inline mb-0 mt-2 mt-sm-0 nav-social">
                        <li class="list-inline-item me-2"><a href="https://github.com/Davic0444" target="_blank"><i data-feather="github" class="fea icon-sm"></i></a></li>
                        <li class="list-inline-item me-2"><a href="https://www.linkedin.com/in/babai-dávid-035160219/" target="_blank"><i data-feather="linkedin" class="fea icon-sm"></i></a></li>
                    </ul>

                </div>
            </div><!--end container-->
        </nav><!--end navbar-->
        <!-- Navbar End -->

        <!-- Hero Area -->
        <div class="hero-area position-relative bg-half-120 pb-0" style="background-image:url('images/home/home-shape.jpg')" id="home">
            <!--<div class="bg-overlay"></div>-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 align-items-center">
                        <div class="title-heading mt-4 py--50">
                            <h1 class="heading text-light">Hi, my name is Dávid Babai</h1>
                            <p class="pera-title text-light">I'm junior developer</p>
                            <div class="hero-btn mt-4 pt-2">
                                <a href="" class="btn btn-outline-primary rounded text-white mb-2">Download CV <i data-feather="download" class="fea icon-sm"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-4 text-md-start">
                                        <div class="about-details key-feature bg-light">
                                            <div class="media-body content">
                                                <h6 class="title mb-2">Personal Details</h6>
                                                <div class="bor-bottom mt-2 mb-2"></div>
                                                <p class="text-muted mb-2 mt-3 font-14"><a href="javascript:void(0)" class="text-black">Email: </a> babai.david01@gmail.com</p>
                                                <p class="text-muted mb-2 font-14"><a href="javascript:void(0)" class="text-black">Languages: </a> Hungary, English</p>
                                                <p class="text-muted mb-0 font-14"><a href="javascript:void(0)" class="text-black">Nationality: </a> Hungarian</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-9 col-md-8">
                                        <div class="row align-items-end">
                                            <div class="col-md-12 text-md-start mt-4 mt-sm-0">
                                                <h4 class="heading me-2">I Am <span class="element text-primary" data-elements="Java Developer, Web Developer, Test"></span>
                                                    <span id="typed" class="text-primary data-elements"></span>
                                                </h4>
                                                <p class="text-light-muted mt-2">Honestly I'm a beginner fullstack developer, mainly using Java, and Javascript. My road to build web applications with Spring Boot and Angular. I'm open to any new technology, and already learning Node.js and React.js. Meanwhile I started learn programming I used to work as production technician at BD Hungary.</p>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section -->

        <!-- Schools Start -->
        <section class="section bg-light" id="schools">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container-title text-center mb-4 pb-2">
                            <div class="titles">
                                <h2 class="title text-capitalize mb-4">My Schools</h2>
                                <span></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="book" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">High School Graduation (2013-2018)</h3>
                                <p class="text-light-muted mb-4">Economic graduation with 1 year English preparation.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-5 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="monitor" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">CAD-CAM IT Technician (2020.09.10 - 2021. 04.30)</h3>
                                <p class="text-light-muted mb-4">Computer-aided design/computer-aided manufacturing.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="monitor" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">Junior Java Backend Developer (2021.05.09 - 2022.04.19)</h3>
                                <p class="text-light-muted mb-4">Agile software developing with Java programming language with git version control.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-10 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="monitor" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">Junior Frontend Developer (2021.09.15 - 2022.09.20)</h3>
                                <p class="text-light-muted mb-4">Build Front-End portion of websites and web applications with HTML, CSS/SCSS, Bootstrap, and Javascript.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6 col-12 mt-4 pt-2">
                        <div class="feature-widget text-left rounded">
                            <div class="services-icon text-primary mb-3">
                                <i data-feather="monitor" class="fea icon-md"></i>
                            </div>
                            <div class="services-texts">
                                <h3 class="title mb-3">Java EE (2021.12.12 - 2022.02.13)</h3>
                                <p class="text-light-muted mb-4">JSP, JSF, Servlets, Hibernate, Struts, Spring, Webservice</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </section>
        <!-- End Start -->


        <!-- Start Section -->
        <section class="section" id="resume">
            <div class="container">

                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-4">
                        <div class="work-content mt-4">
                            <h2 class="text-capitalize">Work  Participation</h2>
                            <p class="mb-0 text-light-muted"></p>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="main-timeline">
                                <div class="timeline mt-4">
                                    <a class="timeline-content">
                                        <div class="timeline-icon text-primary">
                                            <i data-feather="tool" class="fea icon-md"></i>
                                        </div>
                                        <h3 class="title mb-0">Production Technician</h3>
                                        <small class="company">BD Hungary</small>
                                        <span class="badge skill-badge education-badge badge-light">2019 - 2022</span>
                                        <p class="description text-light-muted mt-2">
                                            Supporting the operation of production machinery, ensuring that it works safely and effectively.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </section><!-- end section -->

        <!-- Skill & CTA START -->
        <section class="cta-full" id="skill">
            <div class="container">
                <div class="row position-relative">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="cta-full-img-box">
                            <div class="row justify-content-center">
                                <div class="col-12 text-center mb-3">
                                    <div class="container-title">
                                        <div class="titles">
                                            <h4 class="title title-line text-capitalize mb-4">Work Expertise</h4>
                                        </div>
                                        <p class="text-light-muted mx-auto width-max mb-0"></p>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->

                            <div class="row align-items-center">
                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/java.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">70%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/nodejs-icon.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">55%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/react.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">30%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/Angular.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">30%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!-- end row -->

                            <div class="row align-items-center">
                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/html5.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">80%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/css3.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">75%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/bootstrap.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">67%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-3 col-6 mt-4 pt-2">
                                    <div class="card explore-feature border-0 text-center bg-white p-3">
                                        <div class="card-body p-0">
                                            <div class="skill-icon rounded-circle shadow-lg d-inline-block">
                                                <img src="images/skills/mongodb.svg" alt="" class="img-fluid mx-auto">
                                            </div>
                                            <span class="badge skill-badge badge-light">40%</span>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!-- end row -->

                        </div> <!-- end about detail -->
                    </div> <!-- end col -->
                </div><!--end row-->
            </div><!--end container fluid-->
        </section><!--end section-->
        <!-- Skill & CTA End -->

        <!-- Contact Start -->
        <section class="section pb-0" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="container-title text-center mb-4 pb-2">
                            <div class="titles">
                                <h2 class="title text-capitalize mb-4">Contact Me</h2>
                                <p class="pera-title para-desc-600 text-light-muted mb-0 mx-auto">If you have more question contact me with the following</p>
                                <span></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center">
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Phone</h5>
                                <a href="tel:+36303152882" class="text-primary">+36303152882</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title">Email</h5>
                                <a href="mailto:contact@example.com" class="text-primary">babai.david01@gmail.com</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->

  <%- include('footer'); -%>
